body {
  background-color: rgba(0, 195, 255, 0.568);
}

h1 {
  text-align: center;
  font-family: "Syne Mono", monospace;
  font-size: 100px;
}

.score {
  width: 100px;
}

.gameboard,
.answer {
  justify-content: center;
  text-align: center;
  font-size: 40px;
}

.answer-btns {
  justify-content: center;
  text-align: center;
}

.choice-btn {
  background-color: palegreen;
  font-size: 20px;
}

.wrong-answer {
  background-color: red;
}
